@import url('https://fonts.googleapis.com/css?family=Arvo:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;1,400&display=swap');

/* GLOBAL */

body {
  margin: 0px;
  font-family: 'Arvo', serif;
  padding: 0px;
  overflow: hidden;
  height: 100%;
}

#loader {
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(10,10,10);
  width: 100vw;
  height: 100vh;
  z-index: -10;
  visibility: hidden;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  user-select: none;
  transition: 0.5s;
}

#loader.not-loaded {
  opacity: 1 !important;
  visibility: visible;
  z-index: 1000;
}

#loader #loader-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#loader #loading-bar {
  width: 100%;
  height: 4px;
  background: linear-gradient(to right, white 0%, white 50%, black 50%, black 100%);
  background-size: 200%;
  border: 2px solid white;
/*   
  background-position: 100% 0%; */
  animation: loading 2s;
}

@keyframes loading {
  0% {
    background-position: 100% 0%;
  }
  20% {
    background-position: 90% 0%;
  }
  40% {
    background-position: 80% 0%;
  }
  70% {
    background-position: 20% 0%;
  }
  100% {
    background-position: 0% 0%;
  }

}

#desktop {
  opacity: 0;
  transform: scale(1.25);
  /* filter: blur(10px); */
  transition: 1.5s cubic-bezier(0.87, 0, 0.13, 1);
}

.desktop-visible {
  filter: blur(0px) !important;
  opacity: 1 !important;
  transform: scale(1) !important;
}

#background {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url('assets/back.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* animation-name: zoom; */
  animation-duration: 60s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#hello-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  height: 100vh;
  width: 100vw;
  white-space: nowrap;
}

.hello-text{
  text-align: right;
  z-index: 0;
  margin: 0px;
  margin-right: 5vw;
  padding: 10px;
  background: white;
  width: fit-content;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.1);
  font-size: max(3vw, 24px);
}

#hello-container h1:first-of-type {
  z-index: 1;
  clip-path: inset(-20px -20px 0px -20px);
}

#hello-container #description {
  margin: 0;
  margin-right: 5vw;
  white-space: normal;
  margin-top: 40px;
  font-size: max(1.5vw, 18px);
  text-shadow: 0px 4px 10px rgba(0,0,0,0.2);
  text-align: right;
}

.menubar {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: calc(100% - 24px);
  background: rgba(0,0,0,0.6);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20);
  z-index: 1000;
}

#menubar-links {
  display: flex;
  flex-direction: row;
}

.menu-item {
  line-height: 1;
  transition: 0.25s;
  cursor: pointer;
  user-select: none;
  text-decoration: none;
  display: flex;
  position: relative;
  color: white;
}

.menu-item::before {
  background: white;
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0px;
  z-index: -1;
  transition: 0.25s;
}

.menu-item:hover::before {
  height: 100%;
}

#menubar-clock {
  font-size: 20px;
  margin: 0;
  color: white;
  font-weight: 600;
  width: 120px;
  text-align: center;
  font-family: 'Arvo', serif;
}

.window-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.window {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 10;
  transition: all 0s;
}

.window-frame {
  position: relative;
}

.window-titlebar {
  position: relative;
  display: flex;
  align-items: center;
  height: 40px;
  width: calc(100% - 24px);
  margin: 0px;
  color: white;
  user-select: none;
  font-size: 16px;
  font-weight: normal;
  line-height: 1;
  /* background: rgba(0, 96, 223, 0.5); */
  background: rgb(10,10,10);
  transition: all 0.2s;
}

.window-content-main {
  display: block;
}

.window-content-hidden {
  display: none;
}

iframe {
  border: 0px solid transparent;
  width: 100%;
  height: 100%;
  background: white;
  pointer-events: none;
}

/* DESKTOP */

#menubar-desktop {
  padding: 0px 12px;
  justify-content: space-between;
  align-items: center;
}

#menubar-desktop #menubar-tray {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

#menubar-tray #status-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  margin-right: 9px;
}

#menubar-tray .status-icon-item {
  padding: 9px;
  transition: 0.2s;
}

#menubar-tray .status-icon-item:hover {
  background: rgba(255,255,255,0.3);
}

#menubar-tray .status-icon-item img{
  width: 28px;
  height: 28px;
  display: block;
}

#menubar-desktop .menu-item {
  width: min(140px, 15vw);
  padding: 9px 12px 9px 12px;
  margin-top: 6px;
  margin-bottom: 6px;
  margin-right: 9px;
  align-items: center;
  border: 2px solid rgba(255,255,255,0.2);
  text-decoration: none;
}

#menubar-desktop .menu-item span {
  margin-right: 12px;
  font-size: 22px;
}

#menubar-desktop .menu-item:last-of-type {
  margin-right: 0;
}

#menubar-desktop .menu-item:hover {
  /* background: white; */
  color: black; 
  border: 2px solid white;
}

#menubar-desktop .menu-item.back {
  background: rgba(255,255,255,0.6);
  border: 2px solid rgba(255,255,255,0.6);
  color: black;
}

#menubar-desktop .menu-item.focus {
  /* border-bottom: 2px solid rgb(255, 255, 255); */
  background: white;
  color: black;
  box-shadow: 0px 2px 12px 4px rgba(255,255,255,0.5);
}

#menubar-desktop .menu-item.focus:hover {
  background: rgb(230,230,230);
  border: 2px solid transparent;
}

.window.desktop {
  opacity: 0;
  visibility: hidden;
  transform: scale(0.75);
  transition: all 0s, opacity 0.2s, visibility 0.2s, transform 0.2s, box-shadow 0.2s;
  transition-timing-function: cubic-bezier(0.45, 0, 0.55, 1);
}

.window.desktop.focus, .window.desktop.back {
  opacity: 1 !important;
  visibility: visible !important;
  transform: scale(1) !important;
}

.window.desktop.back {
  box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
}

.window.desktop.focus {
  box-shadow: 0px 6px 12px rgba(0,0,0,0.2);
}

.window.desktop .window-titlebar {
  padding: 0px 12px;
}

.window.desktop.back .window-frame .window-titlebar{
  background: rgb(120,120,120);
  color: rgb(200,200,200);
}

.window.desktop.focus .window-frame .window-titlebar {
  background: rgba(10,10,10,0.8);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20);
  color: white;
}

.window.desktop .window-titlebar:hover {
  box-shadow: 0px 4px 8px rgba(0,0,0,0.25);
  cursor: move;
}

.window.desktop .window-frame span.material-icons-outlined {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
  /* background: rgb(10,10,10); */
  background: transparent;
  color: white;
  user-select: none;
  font-size: 20px;
  /* border: 1px solid black; */
  transition: 0.2s;
}

.window.desktop.back .window-frame span.material-icons-outlined {
  color: rgb(200,200,200);
}

.window.desktop.back .window-frame span.material-icons-outlined:hover {
  background: rgba(140,140,140);
}

.window.desktop.focus .window-frame span.material-icons-outlined:hover {
  background: rgba(40,40,40);
}

/*MOBILE*/

#desktop {
  height: 100%;
}

#menubar-mobile {
  justify-content: space-between;
  align-items: center;
  display: block;
  width: 100%;
  position: sticky;
  background: rgba(10,10,10,1);
}

#menubar-mobile #menubar-links {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

#menubar-mobile .menu-item {
  margin: 0;
  padding: 10px 20px;
  width: 100%;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 14px;
}

#menubar-mobile .menu-item span {
  margin-bottom: 6px;
  font-size: 24px;
}

#menubar-mobile .menu-item:hover {
  color: white;
  background: rgba(255,255,255,0.2); 
}

#menubar-mobile .menu-item.focus {
  background: white;
  color: black;
  box-shadow: 0px 2px 12px 4px rgba(0,0,0,0.2);
}

#menubar-mobile .menu-item:hover::before {
  height: 0%;
}

#menubar-mobile .menu-item.focus::before {
  height: 100%;
}

.window.mobile {
  opacity: 0;
  visibility: hidden;
  transform: translateY(40px);
  transition: all 0s, opacity 0.2s, visibility 0.2s, transform 0.2s, box-shadow 0.2s;
  transition-timing-function: cubic-bezier(0.45, 0, 0.55, 1);
}

.window.mobile.focus {
  opacity: 1 !important;
  visibility: visible !important;
  transform: translateY(0px) !important;
}

.window.mobile .window-frame .window-titlebar {
  height: 50px;
  padding: 0px 20px;
  width: calc(100% - 40px);
  box-shadow: 0px 4px 8px rgba(0,0,0,0.25);
}

.window.mobile.focus .window-frame .window-titlebar {
  background: rgba(10,10,10,1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20);
  color: white;
}

#window-4 .window-titlebar {
  opacity: 0;
  height: 0px;
}

#window-4 .window-content-main {
  background: rgba(255,255,255,0);
}

#window-4 #mobilehome-tray {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

#mobilehome-tray #menubar-clock {
  background: rgba(0,0,0,0.6);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20);
  padding: 6px; 
  box-shadow: 0px 4px 8px rgba(0,0,0,0.25);
}

#mobilehome-tray #status-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  width: min-content;
  background: rgba(0,0,0,0.6);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20); 
  box-shadow: 0px 4px 8px rgba(0,0,0,0.25);
}

#mobilehome-tray .status-icon-item {
  padding: 9px;
  transition: 0.2s;
}

#mobilehome-tray .status-icon-item:hover {
  background: rgba(255,255,255,0.3);
}

#mobilehome-tray .status-icon-item img{
  width: 28px;
  height: 28px;
  display: block;
}

/* .window-frame .resize-top, .window-frame .resize-right, .window-frame .resize-bottom, .window-frame .resize-left {
  background: transparent;
  position: absolute;
  transition: 0.2s;
}

.window-frame .resize-top:hover, .window-frame .resize-right:hover, .window-frame .resize-bottom:hover, .window-frame .resize-left:hover {
  background: rgba(0,0,0,0.2);
} 

.resize-top {
  width: 100%;
  height: 5px;
  margin-top: -5px;
  cursor: ns-resize;
}

.resize-right {
  width: 5px;
  height: 100%;
  right: 0;
  margin-right: -5px;
  cursor: ew-resize;
}

.resize-bottom {
  width: 100%;
  height: 5px;
  bottom: 0;
  margin-bottom: -5px;
  cursor: ns-resize;
}

.resize-left {
  width: 5px;
  height: 100%;
  margin-left: -5px;
  cursor: ew-resize;
} */

.window-content-main {
  padding: 20px;
  overflow-y: auto;
  height: calc(100% - 40px);
  background: white;
}

.window-content-main p {
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.75;
  margin: 20px 0px;
}

.window-content-main h3 {
  font-family: 'Arvo', serif;
  font-size: 22px;
  line-height: 1;
  margin: 30px 0px;
}

.window-content-main h4 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  line-height: 1;
  margin: 20px 0px;
}

.window-content-main .collage-container {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 40px;
  row-gap: 40px;
}

.window-content-main .collage-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background: rgb(240,240,240); */
}

.collage-item .collage-item-image {
  width: 100%;
  height: auto;
}

.collage-item a {
  margin-left: auto;
  margin-top: 20px;
}

.collage-item h3 {
  text-align: center;
  margin-bottom: 0;
}

.window-content-main .chips-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: auto;
}

.chips-container .chip {
  padding: 8px;
  background: rgb(220,220,220);
  margin-right: 10px;
  margin-bottom: 10px;
}

.chips-container .chip:last-of-type {
  margin-right: 0;
}

.chips-container .chip p {
  margin: 0;
  line-height: 1;
}

.file-download-link {
  background: rgba(230,230,230);
  padding: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: black;
  text-decoration: none;
  transition: 0.2s;
}

.file-download-link:hover {
  background: rgba(200,200,200);
}

.file-download-link span {
  margin-right: 12px;
}

@media only screen and (max-width: 680px) {
  /* #window-1, #window-2, #window-3{
    top: 0px !important;
    left: 0px !important;
    width: 100vw !important;
    height: 100vh !important;
  } */
}

.desktop[id="window-1"] {
  width: clamp(240px, 30vw, 720px);
  height: clamp(360px, 70vh, 720px);
  top: clamp(0px, 15vh, calc(100vw - 80px));
  left: clamp(0px, 5vw, calc(100vw - 80px));
}

#window-1 #about-face {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: block; 
  margin: 0px 20px 0px 0px;
}

#window-1 #about-intro-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* flex-wrap: wrap; */
  /* display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr)); */
  padding: 20px;
  background: rgb(230,230,230);
  /* box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2); */
}

#window-1 #about-intro-box #about-intro-box-title {
  /* min-width: 100px; */
  /* width: clamp(200px, calc(100% - 120px), 100%); */
  width: auto;
}

#window-1 .school-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#window-1 .school-block {
  margin-bottom: 20px;
}

#window-1 .school-block:last-of-type {
  margin-bottom: 0;
}

#window-1 .school-block p {
  margin: 0px;
  line-height: 1.2;
}

#window-1 .school-block p:nth-child(2) {
  font-style: italic;
  text-align: end;
}

.desktop[id="window-2"]{
  width: clamp(230px, 90vw, 980px);
  height: clamp(360px, 65vh, 720px);
  top: clamp(0px, calc(5vh + 40px), calc(100vw - 80px));
  left: clamp(0px, calc(20vw + 40px), calc(100vw - 80px));
}

.desktop[id="window-3"] {
  width: clamp(230px, 40vw, 720px);
  height: clamp(360px, 60vh, 720px);
  top: clamp(0px, calc(30vh + 40px), calc(100vw - 80px));
  left: clamp(0px, calc(25vw + 40px), calc(100vw - 80px));
}
